<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeeIMService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LeeIMService.Properties.Settings>
            <setting name="SQLConnectionString" serializeAs="String">
                <value>Data Source=127.0.0.1;User id=sa;password=aaa;Initial Catalog=cwcc;</value>
            </setting>
            <setting name="NetHardDiskURI" serializeAs="String">
                <value>http://127.0.0.1/HardDisk/</value>
            </setting>
            <setting name="NetHardDiskUserName" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="NetHardDiskPassword" serializeAs="String">
                <value>1234567</value>
            </setting>
            <setting name="Msg_UDP_Port" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="isUseDataBasePassword" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Msg_TCP_Port" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="File_TCP_Port" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="File_UDP_Port" serializeAs="String">
                <value>109</value>
            </setting>
            <setting name="AV_UDP_Port" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="AV_TCP_Port" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="NetDomainName" serializeAs="String">
                <value>9808.com.cn</value>
            </setting>
            <setting name="MyTaskURI" serializeAs="String">
                <value>http://127.0.0.1/GPM</value>
            </setting>
        </LeeIMService.Properties.Settings>
    </userSettings>
</configuration>