
/*  DefaultTop  */ 
.DefaultTop_tabmenu
{
    width: 100%;
    height: 28px;
    background:url(Img/tt03_bg.gif) repeat-x;
    border: #89c6fd 1px solid;
    border-bottom:0;
}
.DefaultTop_tabmenu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
.DefaultTop_tabmenu li
{
    text-align: center;
    float: left;
    display: block;
padding:0px 8px;
    height: 26px;
    overflow: hidden;
    line-height: 26px;
    display: inline;
    font-size: 12px;
    margin-right:3px;
    position:relative;
    bottom:-1px;
    cursor: pointer;
}
.DefaultTop_tabmenu .DefaultTop_cli
{
    text-align: center;
    float: left;
    display: block;
padding:0px 8px;
    height: 26px;
    overflow: hidden;
    line-height: 26px;
    display: inline;
    font-size: 12px;
    cursor: pointer;
    font-weight:bolder;
    position:relative;
    color:#4a98da
}
.DefaultTop_tabcontent
{
    width: 100%;
    line-height:25px;
    border: #89c6fd 1px solid;
    border-top:0;
    overflow:hidden;
}
.DefaultTop_tabcontent ul
{
    margin: 0;
    padding: 0px;
    list-style-type: none;
}
.DefaultTop_tabcontent a {
margin-left:8px;
}

.DefaultTop_tabcontent .DefaultTop_hidden
{
    display: none;
}

.DefaultTop_hidden
{
    display: none;
}

.DefaultTop_tabcontent .td {
height:20px;
border:0;
background:url(img/li_dot_05.gif) no-repeat left;
padding-left:5px;
}

.DefaultTop_tabcontent td {
height:20px;
}


.DefaultTop_tabcontent li div {
height:245px;
}

#tabmore,.tabmore {
float:right;
}
#tabTitle {
cursor:auto;
color:#003873;/*===*/
font-weight:bolder;/*===*/
}
.DefaultTop_tabMore {
float:right !important;
}

/*===*/ /*2010-04-13 23:45:05–Ï”Ò÷“ÃÌº”*/
