.TDUnSelect
{
	font-weight: bold;
	font-size: small;
	border-bottom-color: #ffff66;
	vertical-align: baseline;
	color: captiontext;
	border-top-color: #ffff66;
	background-color: background;
	text-align: center;
	border-bottom-style: solid;
	cursor:hand;
}
.TDSelect
{
	font-weight: bold;
	font-size: x-small;
	color: background;
	background-color: captiontext;
	cursor:hand;
	
}