

/*************************************************************
 * Command:Start
 * Control:NewsShow
 * Style:NewsShow
 * Desc::
 * Quot:
*************************************************************/
/**************文章正文开始*****************/

.NewsShow .article_content
{
    border: 1px solid #dddddd;
    padding: 10px;
    line-height: 180%;
    width: 96%;
}

.NewsShow .article_content h1
{
    height: 35px;
    color: #2782b9;
    font-size: 18px;
    font-family: "微软雅黑";
    text-align: center;
    line-height: 35px;
    width: 100%;
}

.NewsShow .article_content .Content
{
    font-size: 10pt;
}

.NewsShow .article_info
{
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: url(../images/article_line.gif) repeat-x left center;
    margin: 15px 0px;
}
.NewsShow .article_info a
{
    color: #333333;
}
.NewsShow .article_info a:hover
{
    color: #cc0000;
}



/*************************************************************
 * Command:End
 * Control:NewsShow
 * Style:NewsShow
 * Desc::
 * Quot:
*************************************************************/

.ChannelTree
{
    border: 1px solid #e5e5e5;
    width: 240px;
    height: 420px;
    padding-top: 10px;
}

.Memo
{
}
.Memo table tr th
{
    background: #DCF0FB;
    height: 30px;
    font: 14px;
    text-align: center;
}

.Memo table tr td
{
}

.newslist
{
    font-family: 宋体, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.newslist ul
{
    padding: 0px;
    padding-left: 10px;
}
.newslist ul li
{
    line-height: 24px;
    list-style-type: none;
    border-style: none;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}
.newslist ul li a
{
    text-decoration: none;
    color: #5A90CE;
}
.newslist ul li a:hover
{
    text-decoration: none;
    color: #cc0000;
}
.subtoolbar
{
    background:#DEF1F1;
    margin-top:2px;
    margin-bottom:2px;
    border:1px solid #DCF0FB;
    padding:2px;
}
