body
{
}
#divBody
{
}
#tdMain tr td
{
    vertical-align: top;
}
#divBottom
{
    height: 40px;
    line-height: 40px;
    background: #f1f6fa;
    border: solid 1px #E9f2fc;
    border-top: solid 3px #7286ab;
    font-size: 16px;
    font-family: 宋体;
    font-weight: bold;
}

.header
{
    height: 112px;
}
.header table
{
    border: 0;
}
.header tr
{
    background: transparent;
    border: 0;
}
.header td
{
    background: transparent;
    border: 0;
}
.header td a
{
    text-decoration: none;
}
.header td span
{
    width: 50px;
}

.header_menu
{
}
.header_menu ul
{
    padding: 0;
    margin-top: 10px;
    margin-right: 20px;
    height: 50px;
    float: right;
    line-height: 50px;
}
.header_menu ul li
{
    float: left;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
}
.login
{
    /* border: solid 1px #b7c2c9;*/
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    line-height: 166.6%;
    margin-top: 248px;
    margin-left: 418px;
}
.ErrorMsg
{
    font-size: 11px;
    color: Red;
}
.inputText
{
    /*  background: rgb(238, 243, 248);   height: 20px;  line-height: 17px; font-size: 16px;     font-weight: 700;   padding-bottom: 6px;     padding-left: 8px;     padding-right: 8px;     padding-top: 7px;*/
    border-style: none;
    color: #333;
    font-family: Verdana;
    vertical-align: middle;
}
.loginButton
{
    background: url('Images/bg_v5.png') no-repeat 0 -208px;
    width: 110px;
    height: 35px;
    text-align: center;
    border-style: none;
    cursor: pointer;
}
#loginBody
{
    width: 1195px;
    height: 723px;
    margin-left: auto;
    margin-right: auto;
}
#theme
{
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 100px;
    width: 900px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
}
.ImageButton
{
    margin-top: 15px;
    width: 72px;
    height: 72px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.ImageButton a
{
}
.ImageButton a img
{
    border-style: none;
    border: 0;
    margin-left: 12px;
    margin-right: 12px;
}
.ImageButton a span
{
    color: #fff;
    font-family: 宋体;
    font-size: 13px;
    text-align: center;
    width: 72px;
    font-weight: normal;
}
#imageTool ul
{
    margin: 0px;
    padding: 0px;
}
#imageTool ul li
{
    width: 92px;
    list-style-type: none;
    float: left;
}


