
/*以下是显示留言内容的样式 */
.gust_li
{
	width: 100%;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}
/*留言信息的div样式，行高，背景以及边框*/
.gust_info
{
	height: 25px;
	background: #ececec;
	border: 1px #ccc solid;
	line-height: 25px;
	padding: 0px 10px;
}
/*留言信息的背景在鼠标经过时发生变化*/
.gust_info:hover
{
	background: #E6E6E6;
}
/*留言内容的样式*/
.gust_main
{
	margin-bottom: 8px;
	padding: 10px 5px;
	border: 1px #ccc solid;
	border-top: none;
	line-height: 20px;
	word-break:break-all;
	
}
/*留言信息中的控制链接 右对齐*/
.right_option
{
	float: right;
	margin-right: 10px;
}
.right_option a
{
	margin-right: 5px;
	text-decoration: none;
	color: #333;
}
.right_option a:hover
{
	color: #F00;
}

/*以下是显示弹出层的样式*/
body
{
	margin: 0px;
}
.tbl_Content td
{
	border: solid 1px #CFEAFF;
	margin-top: 0px;
}
.div_Login
{
	border: solid 3px #CFEAFF;
	background: #fff;
	padding: 10px;
	width: auto;
	z-index: 1100; /*position: absolute;*/
	position: fixed; /*visibility: hidden;*/
	display: none;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -400px;
}
.div_Content
{
	padding: 3px 15px 3px 15px;
	text-align: left;
	vertical-align: middle;
}
.div_Doing
{
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
	background-color: #000;
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: absolute;
	left: 0;
	top: 0; /*visibility: hidden;*/
	display: none;
	overflow: hidden;
}


/*以下是自定义的控件中用到的CSS样式*/
.tbl_Content
{
    width:100%;
}
.Span_A
{
	float: right;
}
.A_Login
{
	margin-left: 10px;
}
.tbl_Content_Td
{
	text-align: left;
}
