.divpjhead
{
    font-size: 15px;
    clear: both;
    width: 100%;
}
.tabpj
{
    width: 100%;
}
.tdpjh
{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-color: #ececec;
    border-width: 1px;
}
.trpjv td
{
}
.tdpjv
{
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-color: #ececec;
    border-width: 1px;
}
.divfoot
{
    margin-top:0px;
}
.picpjv
{
    margin-left: 5px;
    margin-right: 5px;
}
.spanpjv
{
    margin-left: 5px;
    margin-right: 5px;
}
.RdPJ
{
    margin-left: 5px;
    margin-right: 5px;
}
.rtTable
{
    width: 100%;
}
.rtTD1
{
    width: 8%;
}

.rtTD2
{
    width: 8%;
}
.rtTD3
{
    width: 20%;
}
