<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeeIM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LeeIM.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\db\Database1.sdf" />
        <add name="LeeIM.Properties.Settings.EMConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Record.dll;Persist Security Info=False" />
        <add name="LeeIM.Properties.Settings.Database1ConnectionString1"
            connectionString="Data Source=|DataDirectory|\Config.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <userSettings>
        <LeeIM.Properties.Settings>
            <setting name="SelectedColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsEnterKeySendMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPlaySound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Request_OA_TODO_TOREAD" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Request_CW_TODO_TOREAD" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Request_HR_TODO_TOREAD" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Request_Pro_TODO_TOREAD" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DepsVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UsersVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerTCPPort" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="ServerUDPPort" serializeAs="String">
                <value>67</value>
            </setting>
        </LeeIM.Properties.Settings>
    </userSettings>
</configuration>