
HTML { width:100%;min-width: 100%;height:100%;}
body { width:100%;min-width: 100%;height:100%;font-family:Verdana, Arial, sans-serif;background-color:#F7F7F3 }

.productName
{
	color: #3F4B87;
	font-size: 25px;
	font-weight: bold;
}

.productName2
{
  font-size: 18px;
  font-weight: bold;
	color: #2F3E85;
	text-align: left;
	padding-left: 20px;
 	vertical-align: bottom;
}

.signInTitle
{
	font-size: 14px;
	font-weight: bold;
}

.signInType
{
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
}

.signInTypeDis
{
	font-size: 13px;
	font-weight: bold;
	color: gray;
}

.welcomeUser
{
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	/*font-style: italic*/
}

.secTitle
{
	font-size: 14px;
	font-weight: normal;
	cursor: pointer;
}

.secTitleB
{
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
}

.secTitleDis
{
	font-size: 11px;
	color: gray;
}

.go
{
	height: 18px;
	width: 100%;
	color: white;
	font-size: 11px;
	letter-spacing : 1px;
	font-weight: normal;
	background-color: #202082;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
}

.butt
{
	height: 21px;
	color: #482801;
	font-size: 13px;
	font-weight: bold;
	letter-spacing : 1px;
	background-color: #ECE9D8;
	padding-top : 2px;
	padding-bottom : 2px;
	padding-left : 8px;
	padding-right : 8px;
	border: 1px solid #DFAA5C;
	border-top: 1px solid #DFAA5C;
	border-left: 1px solid #DFAA5C;
	border-bottom: 1px solid #A16C1E;
	border-right: 1px solid #DFAA5C;
	border-style : groove;
	border-collapse : separate;
}

.Copyright
{
	color: white;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
}

.Message
{
	color: #1C2A6F;
	font-size: 12px;
	font-weight: normal;
	line-height : 18px;
}

.MarkedMessage
{
	color: Purple;
	font-size: 12px;
	font-weight: bold;
	line-height : 18px;
}

.errorMessage
{
	color: red;
	font-size: 12px;
	line-height : 18px;
}

.blueLine
{
	border-top: 2px solid #202082;
}

.Alert
{
	FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana;
}

