body{height:100%;background-color:#fff;color: #222;font: 12px/150% Tahoma,Arial,Verdana,sans-serif;margin:0 auto;padding: 0;width:100%;}
div,ul,ol,form {margin:0;padding:0;}
img {border:0; vertical-align:middle;}
li {list-style:none;}
table {font: 12px/150% Tahoma,Arial,Verdana,sans-serif;}
input,select{font-size:12px;line-height:20px;vertical-align:middle;font-family:tahoma,Arial,Helvetica,sans-serif;}
h1,h2,h3,h4,h5,h6,h7, img, span {margin:0;padding:0;text-align:left;font-size:12px;font-weight:400;border:0;}
p{margin:0; padding:0;border: 0;}
.linespace{display:block;width:426px;background:url(Images/dotline_bg.gif) left top repeat-x;height:1px;margin:6px auto;text-align: center;font-size:0;}
	
a:link{text-decoration:none; color:#aa2015 ;}
a:visited {text-decoration:none; color:#aa2015 ;}
a:hover {text-decoration:underline; color:#090 ;}
a:active {text-decoration:none; color:#000 ;} 

.a1:link {color:#2e9acc;}
.a1:visited {text-decoration:none; color:#2e9acc ;}
.a1:hover {color:#0b4775;text-decoration:underline;}
.a1 {color:#2e9acc;text-decoration:none;}
/*常用*/
.left {float:left;}
.right {float:right;}
.clear {clear:both;height:0px;overflow:hidden;}
.block {display:block;}
.none {display:none;}

.red {color:#aa2015!important;}
.blue {color:#319eef!important;}
.green {color:#090!important;}
.strong {font-weight:600!important;}

.txtinput{font-size:12px;font-family:Tahoma,Arial,Verdana,sans-serif;border: 1px solid #bebebe;vertical-align:middle;margin:0;padding:4px 0 5px 4px;font-weight:bold;line-height:16px;}
.txtinput:hover, .txtinput:focus, .sffocus {border: 1px solid #039afe; background-color:#dfefff;}
.txtinput1{font-size:12px;font-family:Tahoma,Arial,Verdana,sans-serif;border: 1px solid #bebebe;vertical-align:middle;margin:0;padding:4px 0 5px 4px;font-weight:bold;line-height:16px;}
.pwdinput{font-size:12px;font-family:Tahoma,Arial,Verdana,sans-serif;background-color:#dfefff; border: 1px solid #7ccbff;vertical-align:middle;margin:0;padding:4px 0 5px 4px;}
.pwdinput:hover, .pwdinput:focus {border: 1px solid #bebebe; background-color:#fdfff2;}
.listbox{font:12px/20px Tahoma,Arial,Verdana,sans-serif;border: 1px solid #bebebe;width:240px;height:180px;}

.btnbig {background:url(Images/btnbig.gif) 0 0 no-repeat;font-size: 12px;line-height:20px;width:93px;color:#000;height:25px;background-color: transparent;border: none;text-align: center;cursor:pointer;padding-bottom:2px;}
.btnnormal {background: url(Images/btnnormal.gif) 0 0 no-repeat;font-size: 12px;line-height:20px;width:64px;color:#000;height:25px;background-color: transparent;border: none;text-align: center;cursor:pointer;padding-bottom:2px;}

.area_input{background:#fff;color: #404066;font-size:12px;font-family:Arial,Tahoma,Verdana;padding:4px;border:solid;border-width:1px;border-color:#585856 #b6b7b9 #b6b7b9 #585856;}
/*页面整体布局*/
.layer{width:100%;height:100%;border:0;border-collapse:collapse;}
.tdmid{height:100%;width:9px;vertical-align:middle;border:0;background-color:#c9e7fd;border-right:solid 1px #4eb1df;}
.main{margin:0 auto; width:96%;padding:5px 5px 15px 0;}
.menutab{height:100%;width:182px;border-right:solid 1px #197cab;border-left:solid 1px #197cab;}

.layertop {border-collapse:collapse;width:100%;height:67px;border:0;background: #fff url(Images/body_bg.gif) repeat-x left 0;}
.layertop thead tr th {color:#999;}
.layertop thead tr th div#toplink{position:absolute;top:36px;right:15px;width:320px;height:16px;text-align:right;}
.layertop thead tr th a {color:#42414a;font-weight:400;}
.layertop thead tr th a:hover {text-decoration:underline;color:#aa2015;}
.layertop thead tr th div#logo {position:absolute;top:0;left:5px;width:300px;height:67px;background:url(Images/logo.gif) no-repeat left top;text-align:left;text-indent:-9999px;}

/*菜单样式*/
.menumain{white-space:nowrap; width:180px;position:absolute;left:6px;top:4px;text-align:left;}
.tdspace {height:3px;width:180px;background: #4eb1df url(Images/space.gif) left top repeat-x;clear:both;overflow:hidden;}
.sec_menu { border:1px solid white; border-top:none; background:#d6dff7; padding:5px 2px;}
.menu_title  {cursor:pointer;text-align:left;}
.menu_title span  { position:relative; top:2px; left:8px; color:#215DC6; font-weight:bold;cursor:pointer;text-align:left;}
.menu_title2  {cursor:pointer;}
.menu_title2 span  { position:relative; top:2px; left:8px; color:#428EFF; font-weight:bold;cursor:pointer;}
.collapse {background-color:#c9e7fd;background-position: center center; background-image: url(Images/collapse.gif);width: 12px; background-repeat: no-repeat; position: absolute; height: 116px; cursor:pointer; }
.expand {background-color:#c9e7fd;background-position: center center; background-image: url(Images/expand.gif);width: 12px; background-repeat: no-repeat; position: absolute; height: 116px; cursor:pointer;}
/*main部分的css*/
.Table_blue {background-color: #369; color: #fff;}
.mainframe{margin:10px auto;height:100%;width:96%;text-align:left;}
.menubar_table {border-bottom:3px solid #156a93; border-collapse: collapse; padding: 0; border-left-width:1px;border-right-width:1px; border-top-width:1px; }
.menubar_title {font: 14px/150% tahoma,arial,verdana;font-weight:bold;}
.menubar_readme_text {font-size:12px;color:#808080; text-align:right; padding-bottom:5px }
.menubar_function_text {border-top:3px solid #156a93; font-size:9pt;position:relative; color:#808080; border-left-width:1;border-right-width:1; border-bottom-width:1; padding-top:3; padding-left:10 }
.menubar_menu_td {border-top:3px solid #156a93; font-size:12px;position:relative;color:#808080; border-left-width:1; border-right-width:1; border-bottom-width:1; padding-top:3; padding-left:10 }
.menubar_button {border:1px solid #fff; height: 22px; position:relative;letter-spacing:1;font-size: 12px;line-height:8px;background-color:#fff;position:relative; top:1px;cursor:pointer;padding:0 2px;}
.menubar_button_on {border:1px solid #499eb3;height: 22px;position:relative;letter-spacing:1;font-size: 12px;line-height:8px; padding-left:0px;background:#96e7fa url(Images/btn1_bg.gif) 0 0 repeat-x; top:1px; cursor:pointer;padding:0 2px;}

.table_menu {margin:0;padding:0;font-size:12px;border:0;width:180px;float:left;}
.table_submenu {margin:0;padding:0;font-size:12px;border:0;width:168px;float:left;}
.table_body {font-size: 12px;background: #d6dff7 url(Images/menutab_bg.gif) left bottom no-repeat;height:24px;cursor:pointer;width:173px;font-family: Tahoma,arial,verdana; }
.table_none {font-size: 12px;background-color: #d6dff7;height:24px;width:173px;cursor:pointer;font-family: Tahoma,arial,verdana; }
.tab {padding:3px 15px 0 10px;font-size:12px;cursor:pointer; letter-spacing:1px;}
.tabbottom_bg{height:1px;width:100%;background-color:#999;}

.table_tdtxt {font-size: 12px;background-color: #cadee8;height:36px;padding:0 5px;width:25%;font-family: tahoma,arial,verdana;text-align:right;color:#666;}
.table_tdinput {font-size: 12px;background-color: #e9f2f7;height:36px;padding:0 5px;width:75%;font-family: tahoma,arial,verdana;}
.table_tdtxt1 {font-size: 12px;background-color: #cadee8;height:36px;padding:0 5px;width:20%;font-family: tahoma,arial,verdana;text-align:right;color:#666;}
.table_tdinput1 {font-size: 12px;background-color: #e9f2f7;height:36px;padding:0 5px;width:30%;font-family: tahoma,arial,verdana;}
.table_tdinput2 {font-size: 12px;background-color: #e9f2f7;height:36px;padding:0 5px;width:80%;font-family: tahoma,arial,verdana;}
.table_tdinput3 {font-size: 12px;background-color: #fff;height:36px;padding:0 5px;font-family: tahoma,arial,verdana;color:#808080;text-align:left;}
.table_tdbtn{width:100%;padding:10px 4px 0 0;}

.table_box {width: 100%;}
.table_title {font: bold 14px tahoma, verdana;color: #ffffff;background-color: #156a93;height:30px; padding-left: 5px;padding-right:5px;}
.table_title a {color: #ffffff;}

.row{padding-left: 5px;padding-right:5px; height:26px; background-color: #92ddff;font-size:12px;font-family:Tahoma,arial;}
.row1{padding-left: 5px;padding-right:5px; height:26px; background-color: #e9f2f7;font-size:12px;font-family:Tahoma,arial;}
/*******  提示框的样式   ******************/
#alertbox{margin:auto;width:452px;text-align:center;}
    #alertbox hr{height: 1px;color: #ccc;width: 432px;margin: 0px 10px 0px 10px;}
    #alertbox a {color: #2c78c5;text-decoration: none;}
    #alertbox a:hover {color: red;text-decoration: none;}
    
    .alerttop {background:url(Images/alerttop.gif) left bottom no-repeat;width: 452px;height: 13px;}
    .alertbottom {width: 452px;height: 13px;background-image: url(Images/alertbottom.gif);background-repeat: no-repeat;}
    .alertmain {width: 451px;height: 184px;border-left: solid 1px #e6e6e6;border-right: solid 1px #e6e6e6;}
        .alerthead{width: 450px;height: 22px;}
            .alerttitle{width: 262px;float: left;height: 18px;font-weight: bold;text-align: left;padding-left: 10px;padding-top: 4px;}
            .alerttitleright{width: 160px;float: right;height: 18px;padding-right: 10px;padding-top: 4px;color:#c0c0c0;}
        .alerttext{width: 448px;height: 156px;margin: 0 auto;}
            .alertinfo{background: url(Images/i.gif) right no-repeat;float: left; width:80px;height:52px; padding-top:80px;}
            .alerttextright{float: right;height: 156px;text-align: left;width: 352px;}
                .alerttextright ul{list-style: none;margin: 0px;padding-left: 20px;padding-top: 10px;}
                .alerttextright li{padding-top: 6px; padding-right:20px;text-align:left;}
                .loginfrm_span{width:80px;float:left;text-align:right;color:#606060;line-height:24px;}
                
/*分页CSS*/
.pages { color: #999;padding:0;cursor:pointer;float:right;font-family:Tahoma,arial;text-align:right;}
.pages a, .pages .cpb { text-decoration:none;float: left; padding: 1px 4px; border: 1px solid #ddd;background: #ffff;margin:0 2px; font-size:12px; color:#000;cursor:pointer;}
.pages a:hover { background-color: #0d89df; color:#fff;border:1px solid #0d89df; text-decoration:none;cursor:pointer;}
.pages .cpb { font-weight: bold; color: #fff; background: #0d89df; border:1px solid #0d89df;cursor:pointer;}
.pages .inputbox{border:1px #999999 solid;text-align:center;width:32px;font-size:12px;height:18px;font-family:tahoma;margin:0 4px 0 0;}
.pages .btngo{border: solid 1px #999999; background-color: #fafafa;font-family:Tahoma;font-size:12px;width:24px;margin:0;height:20px;line-height:16px;background-color: #0d89df; color:#fff;border:1px solid #0d89df;}

.tableBorder1 {width:100%;background-color:#00b7ea; }
.tableBorder1 th {background:#fff url(Images/th_bg.gif) 0 0 repeat-x;color: white;font-size:12px; font-weight: bold; height:30px;text-align:center;}
.tableBorder1 th a { color: #fff; text-decoration: none; }
.tableBorder1 th a:hover { color: #fff; text-decoration: underline; }
td.TableBody1 { background-color: #ffffff;height:26px;font-size:12px;font-family:Tahoma,arial;}
td.TableBody2 { background-color: #e5f9ff;height:26px;font-size:12px;font-family:Tahoma,arial;}
.tableBorder4 {  background-color: #fff; border: #00b7ea 1px solid; border-top:none;width:100%;}

.flatTextBox{border: 1px solid #bebebe;font-size:12px;font-family: Tahoma, Arial, Verdana;}
.flatbtn { border: #bebebe 1px solid;font-size:12px;color: #000;font-family: tahoma; background-color: #ece9d8; width:56px;line-height:15px;padding:3px 5px;}

.fu_list {width:100%;background:#ebebeb;font-size:12px;color:#232323;}
.fu_list td {padding:5px;line-height:20px;background-color:#fff;}
.fu_list table {width:100%;border:1px solid #ebebeb;}
.fu_list thead td {background-color:#f4f4f4;}
.fu_list b {font-size:12px;}
/*file容器样式*/
a.files {
	width:120px;
	height:24px;
	overflow:hidden;
	display:block;
	border:1px solid #BEBEBE;
	background:url(Images/fu_btn.gif) left top no-repeat;
	text-decoration:none;
}
a.files:hover {
	background-color:#FFFFEE;
	background-position:0 -24px;
}
/*file设为透明，并覆盖整个触发面*/
a.files input {
	margin-left:-350px;
	font-size:30px;
	cursor:pointer;
	filter:alpha(opacity=0);
	opacity:0;
}
/*取消点击时的虚线框*/
a.files, a.files input {
	outline:none;/*ff*/
	hide-focus:expression(this.hideFocus=true);/*ie*/
}

/* 图片边框 */
.photo .photo {float:left;width:223px;height:223px;}
.photo a {display: block; font-size: 0; background: #fff url(Images/picframe.png) no-repeat 0 0; color: #002c79; text-decoration: none;}
.photo a:visited {background-position: -452px 0px; color: #7e7e7e;}
.photo a:hover {background-position:-228px 0px; color: #c24f00;}
.photo span.desc {display: block; text-align: center;}
.photo img {display: inline; margin:12px 0 11px 0; width: 200px; height: 200px;}
.photo {text-align: center;}
.photo .photos1 {margin:auto; width:669px;}

.spanleft{padding-left:15px;}
.spanright{padding-right:15px;}
.spanall{padding:0 15px;}
