<%@ master language="C#" masterpagefile="~/WF/MapDef/WinOpen.master" autoeventwireup="false" inherits="WF_MapDef_Rpt, App_Web_gihorolk" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

