<?xml version="1.0" standalone="yes" ?>
<NewDataSet>
    <!-- 开发演示  -->
    <Item No="01" Name="MIS通用功能" Url="" Img="../../Images/Btn/Help.gif" ForUser="" DESC=""  DFor="" />
    <Item No="0101" Name="数据采集" Url=" ../../Comm/PanelEns.aspx?EnsName=BP.DevDemo.Students" Img="../../Images/Arrowhead_Next.gif" />
    <Item No="0101" Name="批量处理" Url=" ../../Comm/Batch.aspx?EnsName=BP.DevDemo.Students" Img="../../Images/Arrowhead_Next.gif" />
    <Item No="0101" Name="查询" Url=" ../../Comm/PanelEns.aspx?EnsName=BP.CRM.VIPs" Img="../../Images/Arrowhead_Next.gif" />
    <Item No="0101" Name="分组分析" Url=" ../../Comm/PanelEns.aspx?EnsName=BP.CRM.VIPs" Img="../../Images/Arrowhead_Next.gif" />
    <Item No="0101" Name="对比分析" Url=" ../../Comm/PanelEns.aspx?EnsName=BP.CRM.VIPs" Img="../../Images/Arrowhead_Next.gif" />

  <!-- 个性化界面开发规范  -->
  <Item No="02" Name="MIS开发规范" Url="" Img="../../Images/Btn/Help.gif" ForUser="" DESC=""  DFor="" />
  <Item No="0201" Name="表格输出" Url=" ../../Comm/PanelEns.aspx?EnsName=BP.CRM.Customers" Img="../../Images/Arrowhead_Next.gif" />
  <Item No="0201" Name="矩阵输出" Url=" ../../Comm/PanelEns.aspx?EnsName=BP.CRM.VIPs" Img="../../Images/Arrowhead_Next.gif" />
  <Item No="0201" Name="菜单输出" Url=" ../../Comm/PanelEns.aspx?EnsName=BP.CRM.VIPs" Img="../../Images/Arrowhead_Next.gif" />
  <Item No="0201" Name="3列方式数据采集" Url=" ../../Comm/PanelEns.aspx?EnsName=BP.CRM.VIPs" Img="../../Images/Arrowhead_Next.gif" />
</NewDataSet>
