<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<codeviewToolbars>
		<item type="g_start" />
        <item type="image" name="Find" />
        <item type="image" name="SelectAll" />
		<item type="image" name="SelectNone" />
        <item type="image" name="ToFullPage" command="FullPage" imagename="fit" hotkey="F12" />
        <item type="image" name="FromFullPage" command="FullPage" imagename="restore" hotkey="F12" />
        <item type="image" name="Cut" />
        <item type="image" name="Copy" />
        <item type="image" name="Paste" />
        <item type="image" name="SelectAll" />
        <item type="image" name="SelectNone" />
		<item type="g_end" />
	</codeviewToolbars>
	<toolbars>		
		<item type="g_start" />
		<item type="image" name="Save" postback="True" />
		<item type="image" name="Bold" />
		<item type="image" name="Italic" />
		<item type="image" name="Underline" imagename="under" />
		<item type="image" name="JustifyLeft" imagename="left" />
		<item type="image" name="JustifyCenter" imagename="center" />
		<item type="image" name="JustifyRight" imagename="right" />
        <item type="separator" />
        <item type="forecolor" />
        <item type="backcolor" />
        <item type="separator" />
        <item type="image" name="Cut" />
        <item type="image" name="Copy" />
        <item type="image" name="Paste" />
        <item type="image" name="PasteText" />
        <item type="image" name="PasteWord" />
        <item type="image" name="PasteAsHTML" />
        <item type="image" name="Delete" />
        <item type="separator" />
        <item type="image" name="Undo" />
        <item type="image" name="Redo" />
        <item type="separator" />
        <item type="image" name="InsertImage" imagename="eximage" />
        <item type="image" name="InsertFlash" imagename="flash" />
        <item type="image" name="InsertDocument" imagename="document" />
        <item type="separator" />
        <item type="image" name="Find" />
        <item type="image" name="preview" imagename="bspreview" />
        <item type="image" name="ToFullPage" command="FullPage" imagename="fit" hotkey="F12" />
        <item type="image" name="FromFullPage" command="FullPage" imagename="restore" hotkey="F12" />
        <item type="image" name="CleanCode" imagename="cleanup" />
		<item type="holder" name="insertcustombutonhere" />
		<item type="g_end" />	
	</toolbars>
</configuration>