 

#MainUL {
	MARGIN: 10px 0px 12px; BORDER-BOTTOM: #36a 1px solid; HEIGHT: 25px
}
#MainUL LI {
	FLOAT: left; MARGIN: 0px 12px; LIST-STYLE-TYPE: none
}
#MainUL A {
	BORDER-RIGHT: #36a 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #36a 1px solid; DISPLAY: block; PADDING-LEFT: 1em; BACKGROUND: #ddd; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #36a 1px solid; COLOR: black; PADDING-TOP: 0.25em; BORDER-BOTTOM: #36a 1px; TEXT-DECORATION: none
}
#MainUL LI.Selected A {
	BACKGROUND: #fff; BORDER-BOTTOM: white 1px solid
}

#MainUL A:hover {
	BACKGROUND: #fff; BORDER-BOTTOM: white 1px solid
}
#MainDiv LI.nonetab {
	PADDING-LEFT: 30px
}
#MainDiv LI.nonetab A {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; WIDTH: 200px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
