
/*
[name]À¶[/name]
[iconbgcolor]#0053B9[/iconbgcolor]
Powered by Discuz! X
*/
 

div#Top
{
    height: 95px;
}

div#nv
{
    top: 0;
    left: 0;
    width: auto;
    text-align: center;
    padding: 0px;
    margin: 0px 3px 3px 3px;
    background: #6293bb url(shadow.png) repeat-x left bottom;
}

div.wrapper
{
    padding: 3px;
    margin: 12px;
    background: #6293bb url(shadow.png) repeat-x bottom left;
}
 
div#nv ul
{
    width: 100%;
    margin: 3;
    padding: 3;
    text-align: center;
}
div#nv li
{
    float: left;
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0 10px;
    line-height: 1em;
    background-image: url(line_white.gif);
    background-position: right center;
    background-repeat: no-repeat;
        margin: 3;
    padding: 3;
    text-align: center;
}

div#nv li.last
{
    background: none;
}

div#nv a,
div#nv a:link,
div#nv a:active,
div#nv a:visited {
  display: inline-block;
  /* hide from ie/mac \*/
  display: block;
  /* end hide */
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 7px 15px;
  color: white;
}

div#nv a:hover, .S
{
    background-color: #3671a5;
    background-position: right center;
    background-repeat: no-repeat;
      margin: 3;
    padding: 3;
}
