<?xml version="1.0"?>
<SiteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Webtitle>天道管理、税务咨询高端服务门户-面向高端企业管理、税务咨询服务专家</Webtitle>
    <Weburl>http://www.tax666.com/</Weburl>
    <SiteEnabled>1</SiteEnabled>
    <Closed>0</Closed>
    <Reason>抱歉!网站正在进行维护,暂时关闭,请稍后访问.</Reason>
    <DefaultKey>admin</DefaultKey>
    <Seotitle>天道管理、税务咨询高端服务门户-企业管理咨询,税务咨询,高端专业服务,管理培训,税务考试辅导,教学课件</Seotitle>
    <Seokeywords>天道,管理,税务,咨询,高端,服务门户,企业管理,税务咨询,培训,考试辅导,专业,tax,税务资讯专题,培训视频,教学课件,法规,财税,热点,咨询,投资,税收筹划,专家,答疑,纳税,辅导,会计,实务,政策,解读,独家</Seokeywords>
    <Seodescription>天道管理、税务咨询高端服务门户,面向高端企业管理税务业务咨询及服务的专家</Seodescription>
    <ThemeID>1</ThemeID>
    <Themedesc>默认风格</Themedesc>
    <Themepath>Default</Themepath>
    <Nocacheheaders>0</Nocacheheaders>
    <AuthentInfo>申请中...</AuthentInfo>
    <ServiceQQ>863858965</ServiceQQ>
    <SaleQQ>517582684</SaleQQ>
    <Telphone>0755-84737610</Telphone>
    <Fax>0755-84737610</Fax>
    <Email>qifl23702570@163.com</Email>
    <Regstatus>1</Regstatus>
    <Doublee>0</Doublee>
    <Regverify>0</Regverify>
    <Censoruser>admin</Censoruser>
    <Regctrl>0</Regctrl>
    <Ipregctrl />
    <Ipdenyaccess />
    <Ipaccess />
    <AdminIpdenyaccess />
    <AdminIpaccess />
    <Smtp>mail.163.com</Smtp>
    <Port>25</Port>
    <Sysemail>qifl23702570@163.com</Sysemail>
    <Username>qifl23702570</Username>
    <Password>*************</Password>
    <Welcomemsg>1</Welcomemsg>
    <Msg>
        尊敬的用户:

        您好!

        欢迎您注册成为{Webtitle}的会员, 本网站的地址为:{weburl}

        感谢您使用{Webtitle}的服务, 如果您需要了解更多{Webtitle}相关的信息, 请登录我们的网站: {weburl}

        希望您继续支持我们


        {webtitle}
    </Msg>
    <SendEmail>0</SendEmail>
    <Emailcontent>
        尊敬的用户:

        您好!

        欢迎您注册成为{Webtitle}的会员, 本网站的地址为:{weburl}

        感谢您使用{Webtitle}的服务, 如果您需要了解更多{Webtitle}相关的信息, 请登录我们的网站: {weburl}

        希望您继续支持我们


        {webtitle}
    </Emailcontent>
    <Searchctrl>30</Searchctrl>
    <Maxspm>5</Maxspm>
    <Maxonlines>10000</Maxonlines>
    <Visitbanperiods />
    <Searchbanperiods />
</SiteConfigInfo>